.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(175deg, #fde1ff, #e1ffea22 50%);
    gap: 30px;

}
.newletter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}
.newletter p{
    color: #454545;
    font-size: 20px
}
.newletter div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;

}
.newletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;
}
.new-letters-btn{
    gap: 200px;

    display: flex;
}

.new-letters-btn button{
    background:white ;
    color: black;
    border-radius: 15px;

}
.new-letters-btn button:hover{
    background-color: #ff4141;
}

.new-letters-btn input:hover{
    background-color: #ff4141;
}

.new-letters-btn input{
    font-size: 30px;
    border-radius: 15px;
    
}
/* .newletter button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer; */













